# Python
__pycache__/
*.pyo
*.pyd
# Django
db.sqlite3
*.log
static/
media/

# Node.js
node_modules/
build/

# Environment Variables
.env.*

# SSL Certificates
nginx/ssl/

# Docker
*.db
*.pot
local_settings.py
# Others
*.swp
.sass-cache/
*.DS_Store
.idea/
