# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Django
db.sqlite3
*.log
static/
media/

# Environment Variables
.env*
.envrc*

# Node.js
node_modules/
build/

# SSL Certificates
nginx/ssl/

# Backups
backups/

# Virtual Environment
venv/
.env/

# Logs
*.log
*.log.*

# Miscellaneous
.DS_Store
Thumbs.db

# IDE Settings
.idea/
.vscode/
